.dmuka-popup {
    position:  fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index:  2;
    display:  none;
}

.dmuka-popup[data-state="visible"] {
    display:block;
}

.dmuka-popup-window {
    position:  absolute;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #89a4c7;
    max-width:  100%;
    max-height:  100%;
}

.dmuka-popup-header {
    float: left;
    width: 100%;
    height:  30px;
    line-height:  30px;
    font-family:  arial;
    font-size:  14px;
    font-weight: bold;
    box-sizing:  border-box;
    padding-left:  10px;
    padding-right:  10px;
    background-color: #aae8ff;
    display:  none;
}

.dmuka-popup[data-active-header="true"] .dmuka-popup-header{
    display:block;
}

.dmuka-popup-content {
    float: left;
    width: 100%;
    height:  calc(100% - 30px - 30px);
    box-sizing:  border-box;
    padding:  5px;
    overflow: auto;
    font-family:  arial;
    font-size:  12px;
}

.dmuka-popup[data-active-header="false"][data-active-footer="true"] .dmuka-popup-content {
    height:  calc(100% - 30px);
    padding-top: 27px;
}

.dmuka-popup[data-active-header="false"][data-active-footer="false"] .dmuka-popup-content {
    height:  100%;
    padding-top: 27px;
}

.dmuka-popup-footer {
    float: left;
    width:  100%;
    height:  30px;
    text-align:  center;
    display:none;
}

.dmuka-popup[data-active-footer="true"] .dmuka-popup-footer {
    display:block;
}

button.dmuka-popup-footer-button {
    border: 0px;
    background-color: #a2f3bf;
    border: 1px solid #6cbd89;
    padding-left:  10px;
    padding-right:  10px;
    padding-top:  3px;
    padding-bottom:  3px;
    cursor:  pointer;
    transition-duration: 0.3s;
}

button.dmuka-popup-footer-button:not(:last-child) {
    margin-right:  10px;
}

button.dmuka-popup-footer-button:hover,
button.dmuka-popup-footer-button:focus {
    background-color: #69de93;
    border: 1px solid #439861;
}

button.dmuka-popup-closebutton {
    position: absolute;
    right: 4px;
    top: 3px;
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    font-family:  arial;
    transition-duration: 0.1s;
    cursor:  pointer;
    border-radius:  6px;
}

button.dmuka-popup-closebutton:after {
    content: '×';
}
